
<div class="container mt-3">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Selecciona una opción
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" (click)="selectOption('opcion1')">Maquina de Turing Universal</a></li>
      <li><a class="dropdown-item" (click)="selectOption('opcion2')">Maquina de Turing NO Determinista</a></li>
    </ul>
  </div>
  <div *ngIf="selectedOption === 'opcion1'">
    <div class="container mt-5">
      <h1 class="text-center mb-4">Máquina de Turing Universal</h1>
    
      <div class="form-group">
        <label for="estados">Estados (separados por comas):</label>
        <input type="text" class="form-control" id="estados" placeholder="q0,q1,q2">
      </div>
    
      <div class="form-group">
        <label for="alfabeto">Alfabeto (separado por comas):</label>
        <input type="text" class="form-control" id="alfabeto" placeholder="a,b,c">
      </div>
    
      <div class="form-group">
        <label for="transiciones">Función de transición (estado,símbolo,estado_siguiente,símbolo_escribir,dirección; separados por punto y coma):</label>
        <input type="text" class="form-control" id="transiciones" placeholder="q0,a,q1,b,R;">
      </div>
    
      <div class="form-group">
        <label for="estado_inicial">Estado inicial:</label>
        <input type="text" class="form-control" id="estado_inicial" placeholder="q0">
      </div>
    
      <div class="form-group">
        <label for="estados_de_aceptacion">Estados de aceptación (separados por comas):</label>
        <input type="text" class="form-control" id="estados_de_aceptacion" placeholder="q2">
      </div>
    
      <div class="form-group">
        <label for="cadena_de_entrada">Cadena de entrada:</label>
        <input type="text" class="form-control" id="cadena_de_entrada" placeholder="abc">
      </div>
    
      <button class="btn btn-primary btn-block mt-3" (click)="ejecutar()">Ejecutar</button>
    
      <h2 class="text-center mt-4" id="resultado">{{resultado}}</h2>
    </div>
    
  </div>
  <div *ngIf="selectedOption === 'opcion2'">
    <h3>aqui va lo de gayo</h3>
    <p>Este es el contenido que se muestra cuando se selecciona la Opción 2.</p>
  </div>
</div>

  